<div class="generator-page">
  <%= render 'shared/navbar' %>
  <div class="generator-flex">
    <div class="questions-display">
      <% @htmls.each do |html| %>
        <div class="question">
          <%= html.html_safe %>
        </div>
      <% end %>
    </div>
    <div>
    </div>
  </div>
</div>
