.generator-page {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.generator-flex {
  display: flex;
  min-height: 0;
}

.questions-display {
  width: 50vw;
  overflow-y: scroll;
}

.question {
  background-color: white;
}
