.add-questions-flexbox {
  display: flex;
}

.add-question-forms {
  min-width: 31.5vw;
  margin-right: 3rem;
}

.upload-form {
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  div {
    margin-bottom: 0;
  }
  p {
    opacity: 0.6;
    margin-bottom: 0.5rem;
  }
}

#docx-upload, #docx-upload-billy {
  margin-bottom: 0.5rem;
}

.questions-template {
  img {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
  }
}
